@import "~bootstrap/scss/bootstrap";

// HEADER
header {
    .top-header {
        background-color: #0282f9;
        min-height: 20px;

        .top-header-container {
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;

            span {
                display: blockblock;
                color: white;
                font-size: 10px;
                text-align: end;
            }
        }
    }

    .header-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .header-logo {
            width: 80px;
        }

        ul {
            margin-bottom: 0;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 20px;
                .link {
                    text-decoration: none;
                    color: inherit;
                }

                .link.active {
                    color: #399dfa;
                }
            }
        }

        .search-bar {
            display: flex;
            align-items: center;
            width: 10%;

            border-bottom: 2px solid #399dfa;

            input[type="search"]::placeholder {
                text-align: end;
            }
        }
    }
}
