@import "~bootstrap/scss/bootstrap";

// UTILS
.button {
    border: none;

    color: white;
    font-weight: bold;
}

.button-primary {
    background-color: #0282f9;
    font-size: 0.8rem;
    padding: 8px 35px;
}

.button-primary:hover {
    background-color: #7ec0fe;
}

.button-outlined {
    padding: 12px;
    background-color: transparent;
    border: 2px solid #0282f9;
}

.button-outlined:hover {
    background-color: #0282f9;
}

// HEADER
header {
    .top-header {
        background-color: #0282f9;
        min-height: 20px;

        .top-header-container {
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;

            span {
                display: inline-block;
                color: white;
                font-size: 10px;
                text-align: end;
            }
        }
    }

    .header-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .header-logo {
            width: 80px;
        }

        ul {
            margin-bottom: 0;
            padding: 0;
            li {
                display: inline-block;
                height: 100%;
                margin-right: 20px;
                .link {
                    text-decoration: none;
                    color: inherit;
                }

                .link.active {
                    color: #399dfa;
                    border-bottom: 3px solid #399dfa;
                }
            }
        }

        .search-bar {
            display: flex;
            align-items: center;
            width: 10%;

            border-bottom: 2px solid #399dfa;

            input[type="search"]::placeholder {
                text-align: end;
            }
        }
    }

    .header-jumbo {
        height: 400px;
        background-image: url("../images/jumbotron.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// COMICS
#comics-body {
    .body-top {
        min-height: 200px;
        background-color: #1c1c1c;

        .container {
            position: relative;
            .body-label {
                position: absolute;
                top: -30px;
                left: -10px;

                width: 250px;
                height: 60px;
                background-color: #0282f9;

                color: white;
                font-weight: bold;
                font-size: 1.2rem;
                text-align: center;
                line-height: 60px;
            }
            .row {
                padding-top: 2rem;
                padding-bottom: 4rem;
                .col-2 {
                    cursor: pointer;
                    .comic-card {
                        height: 250px;
                        a {
                            text-decoration: none;

                            img {
                                height: 80%;
                                object-fit: cover;
                                object-position: top;
                            }

                            p {
                                color: white;
                                font-weight: bold;

                                padding-top: 10px;
                            }
                        }
                    }
                }
            }

            .button-section {
                display: flex;
                justify-content: center;
                padding-bottom: 2rem;
            }
        }
    }
}

// FOOTER

footer {
    .footer-top {
        height: 400px;
        background-image: url("../images/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .container {
            .row {
                .col-6 {
                    height: 400px;
                    display: flex;
                    flex-direction: column;

                    .link-list {
                        padding-top: 2rem;
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        gap: 10px;
                        align-items: flex-start;
                        span {
                            display: inline-block;
                            font-weight: bold;
                            font-size: 1.2rem;
                            color: white;
                        }

                        ul {
                            margin: 0;
                            padding: 0;

                            li {
                                list-style: none;
                                a {
                                    text-decoration: none;
                                    color: #787878;
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }

                    .copyright {
                        height: 20%;
                        font-size: 0.8rem;
                        color: #787878;
                        margin-top: 20px;

                        a {
                            text-decoration: none;
                        }
                    }
                }

                .logo-container {
                    height: 400px;
                    overflow: hidden;
                    img {
                        position: relative;
                        bottom: 70px;
                    }
                }
            }
        }
    }

    .footer-bottom {
        height: 100px;
        background-color: #303030;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            height: 100%;

            .footer-bottom-right {
                display: flex;
                align-items: center;

                span {
                    display: inline-block;
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: #0282f9;

                    margin-right: 20px;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

// COMIC DESCRIPTION
#comic-description {
    .divider {
        height: 80px;
        background-color: #399dfa;

        .container {
            position: relative;
            width: 1080px;
            height: 100%;

            .comic-thumb {
                position: absolute;
                bottom: 30px;
                width: 200px;
            }
        }
    }

    .container-comic {
        width: 1080px;
        margin: auto;
        padding-top: 2.5rem;
        padding-bottom: 3rem;

        .col-8 {
            .comic-title {
                font-size: 1.7rem;
                font-weight: bold;
                color: #00395d;

                margin-top: 15px;
            }

            .available {
                display: flex;
                background-color: #55ba59;
                height: 40px;

                margin-top: 20px;
                border-bottom: 2px solid grey;

                .available-left {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-right: 2px solid grey;

                    .price-left {
                        display: flex;
                        margin-left: 20px;
                        .price-desc {
                            margin-right: 5px;
                            font-weight: bold;
                            color: #aef68c;
                        }

                        .price {
                            color: white;
                            font-weight: bold;
                        }
                    }

                    .available-text {
                        display: inline-block;
                        margin-right: 20px;

                        font-weight: bold;
                        color: #aef68c;
                    }
                }

                .available-right {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 30%;
                    font-weight: 600;
                    color: white;

                    span {
                        margin-right: 10px;
                    }
                }
            }

            .comic-description {
                margin-top: 10px;
                font-size: 0.9rem;

                color: #838b84;
                font-weight: bold;
            }
        }

        .col-4 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .adv-title {
                text-align: end;
                font-weight: bold;
                font-size: 0.8rem;
                color: #5c6e80;
            }
        }
    }

    .comic-spec {
        background-color: #f6f6f6;
        border-bottom: 1px solid lightgray;

        .container-spec {
            min-height: 350px;
            width: 1080px;
            margin: auto;

            .row {
                padding-top: 2rem;

                .col-title {
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: #104567;

                    padding-bottom: 1.8rem;

                    border-bottom: 1px solid lightgrey;
                }

                .description-row {
                    padding: 1rem 0 1.5rem 0;
                    display: flex;
                    justify-content: space-between;

                    font-size: 0.8rem;

                    border-bottom: 1px solid lightgrey;

                    .row-title {
                        width: 30%;
                        font-weight: bold;
                        color: #104567;
                    }

                    .row-component {
                        width: 70%;

                        .blue-span {
                            color: #23b6df;
                        }
                    }
                }

                .spec-row {
                    padding: 1rem 0 1rem 0;
                    display: flex;
                    justify-content: space-between;

                    font-size: 0.8rem;

                    border-bottom: 1px solid lightgrey;

                    .row-title {
                        width: 30%;
                        font-weight: bold;
                        color: #104567;
                    }

                    .row-component {
                        width: 70%;

                        .blue-span {
                            font-weight: bold;
                            color: #23b6df;
                        }
                    }
                }
            }
        }
    }

    .utility-link {
        background-color: #f6f6f6;

        .link-container {
            min-height: 80px;
            width: 1080px;
            margin: auto;

            display: flex;

            .link-card {
                display: flex;
                justify-content: space-between;

                width: calc(100% / 4);
                border-left: 1px solid lightgray;
                color: #dcdcdc;

                padding: 15px 15px 15px 10px;

                span {
                    font-weight: bold;
                    font-size: 0.7rem;
                }

                img {
                    width: 50px;
                    aspect-ratio: 1;

                    object-fit: contain;

                    filter: invert(20%);
                }
            }

            &:nth-last-child(n) {
                border-right: 1px solid lightgray;
            }
        }
    }
}

// BODY BOTTOM
.body-bottom {
    min-height: 150px;
    background-color: #0282f9;
    display: flex;
    align-items: center;

    .container {
        ul {
            display: flex;
            justify-content: space-around;

            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    color: white;

                    font-size: 0.8rem;

                    img {
                        height: 60px;
                        aspect-ratio: 1;
                        margin-right: 10px;

                        object-fit: contain;
                    }
                }
            }
        }
    }
}
